.hero {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(160deg, #34b6d9, #3464d9);
    background-image: linear-gradient(160deg, #34b6d9, #3464d9);
    background-color: #348dd9;
    color: white;
    text-align: center;
}

.hero .inner {
    padding: 60px;
}

header.sticky, header button, header a.button {
    background-color: #333333
}